---
layout: page
title: Bindog
tagline: A dog lives in winter
---

{% for post in paginator.posts %}
<div class="post-wrapper">
  <h2 class="h2 entry-title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
  <div class="entry-meta">
      <i class="icon-user"></i>  <span>{{ post.author }}</span> &nbsp;
      <i class="icon-calendar"></i>  <span>{{ post.date | date:"%Y-%m-%d" }}</span> &nbsp;
      {% unless post.categories == empty %}
        <br />
        <i class="icon-bookmark"></i>
        {% for category in post.categories %}
          <a href="/categories.html#{{ category }}-ref" target="_blank">
            <span class="label post-category">{{ category }}</span>
          </a>
        {% endfor %}
      {% endunless %}
       &nbsp;
      {% unless post.tags == empty %}
        <i class="icon-tag"></i>
        {% for tag in post.tags %}
          <a href="/tags.html#{{ tag }}-ref" target="_blank">
            <span class="label post-tag">{{ tag }}</span>
          </a>
        {% endfor %}
      {% endunless %}
  </div>
  <br /><br />
  <div class="entry">
    {{ post.content | split: '<!--more-->' | first }}
    <p>
      <a href="{{ post.url }}/#more" class="more-link btn">
        <span class="readmore">read more &raquo;</span>
      </a>
    </p>
  </div>
</div>
<br />
{% endfor %}

<!-- Pagination links -->
<hr />
<div class="paginate">
  <ul>
    <li class="single">page {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="/">prev</a></li>
      {% else %}
        <li><a href="/page{{paginator.previous_page}}/">prev</a></li>
      {% endif %}
    {% else %}
      <li class="single">prev</li>
    {% endif %}
    {% for count in (1..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class="current">{{count}}</li>
      {% else %}
        {% if count == 1 %}
          <li><a href="/">{{count}}</a></li>
        {% else %}
          <li><a href="/page{{count}}/">{{count}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li><a href="/page{{paginator.next_page}}/">next</a></li>
    {% else %}
      <li class="single">next</li>
    {% endif %}
  </ul>
</div>
<br />
<br />