/* https://gist.github.com/niubods/5575078 */

.content .gist .gist-file{border:none;}
.content .gist .gist-file .gist-meta{
    background: url(../images/bgs/body.png) repeat;
    text-shadow: none;
}
.content .gist .gist-file .gist-meta a{color:#4CB4E8}
.content .gist .gist-file .gist-meta a:visited{color:#4CB4E8}
.content .gist .gist-file .gist-data .lines{width:100%;background: #202020;background-color: rgba(0, 0, 0, 0.3);padding:8.5px;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;}
.content .gist .gist-file .gist-data{background: url(../images/bgs/body.png) repeat;border-bottom:none;}
.content .gist .gist-file .gist-data .line-numbers{background-color: rgba(0, 0, 0, 0);color:#ccc;border-right:none;}
.content .gist .gist-file .gist-data .line-data{padding:0 !important}
.content .gist .gist-file .gist-data .line-pre{padding: 8.5px !important;margin: 0 0 9px !important;box-shadow:0 0 0; font-family: Menlo,Monaco,Consolas,"Courier New",monospace;font-size: 12px;line-height: 18px;}

.gist .gist-syntax .c { color: #75715e;font-style:normal;font-weight:normal; } /* Comment */
.gist .gist-syntax .err { color: #960050; background-color: #1e0010 } /* Error */
.gist .gist-syntax .k { color: #66d9ef;font-style:normal;font-weight:normal; } /* Keyword */
.gist .gist-syntax .l { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal */
.gist .gist-syntax .n { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name */
.gist .gist-syntax .o { color: #f92672;font-style:normal;font-weight:normal; } /* Operator */
.gist .gist-syntax .p { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Punctuation */
.gist .gist-syntax .cm { color: #75715e;font-style:normal;font-weight:normal; } /* Comment.Multiline */
.gist .gist-syntax .cp { color: #75715e;font-style:normal;font-weight:normal; } /* Comment.Preproc */
.gist .gist-syntax .c1 { color: #75715e;font-style:normal;font-weight:normal; } /* Comment.Single */
.gist .gist-syntax .cs { color: #75715e;font-style:normal;font-weight:normal; } /* Comment.Special */
.gist .gist-syntax .ge { font-style: italic } /* Generic.Emph */
.gist .gist-syntax .gs { font-weight: bold } /* Generic.Strong */
.gist .gist-syntax .kc { color: #66d9ef;font-style:normal;font-weight:normal; } /* Keyword.Constant */
.gist .gist-syntax .kd { color: #66d9ef;font-style:normal;font-weight:normal; } /* Keyword.Declaration */
.gist .gist-syntax .kn { color: #f92672;font-style:normal;font-weight:normal; } /* Keyword.Namespace */
.gist .gist-syntax .kp { color: #66d9ef;font-style:normal;font-weight:normal; } /* Keyword.Pseudo */
.gist .gist-syntax .kr { color: #66d9ef;font-style:normal;font-weight:normal; } /* Keyword.Reserved */
.gist .gist-syntax .kt { color: #66d9ef;font-style:normal;font-weight:normal; } /* Keyword.Type */
.gist .gist-syntax .ld { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.Date */
.gist .gist-syntax .m { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.Number */
.gist .gist-syntax .s { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String */
.gist .gist-syntax .na { color: #a6e22e;font-style:normal;font-weight:normal; } /* Name.Attribute */
.gist .gist-syntax .nb { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Builtin */
.gist .gist-syntax .nc { color: #a6e22e;font-style:normal;font-weight:normal; } /* Name.Class */
.gist .gist-syntax .no { color: #66d9ef;font-style:normal;font-weight:normal; } /* Name.Constant */
.gist .gist-syntax .nd { color: #a6e22e;font-style:normal;font-weight:normal; } /* Name.Decorator */
.gist .gist-syntax .ni { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Entity */
.gist .gist-syntax .ne { color: #a6e22e;font-style:normal;font-weight:normal; } /* Name.Exception */
.gist .gist-syntax .nf { color: #a6e22e;font-style:normal;font-weight:normal; } /* Name.Function */
.gist .gist-syntax .nl { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Label */
.gist .gist-syntax .nn { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Namespace */
.gist .gist-syntax .nx { color: #a6e22e;font-style:normal;font-weight:normal; } /* Name.Other */
.gist .gist-syntax .py { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Property */
.gist .gist-syntax .nt { color: #f92672;font-style:normal;font-weight:normal; } /* Name.Tag */
.gist .gist-syntax .nv { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Variable */
.gist .gist-syntax .ow { color: #f92672;font-style:normal;font-weight:normal; } /* Operator.Word */
.gist .gist-syntax .w { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Text.Whitespace */
.gist .gist-syntax .mf { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.Number.Float */
.gist .gist-syntax .mh { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.Number.Hex */
.gist .gist-syntax .mi { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.Number.Integer */
.gist .gist-syntax .mo { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.Number.Oct */
.gist .gist-syntax .sb { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Backtick */
.gist .gist-syntax .sc { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Char */
.gist .gist-syntax .sd { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Doc */
.gist .gist-syntax .s2 { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Double */
.gist .gist-syntax .se { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.String.Escape */
.gist .gist-syntax .sh { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Heredoc */
.gist .gist-syntax .si { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Interpol */
.gist .gist-syntax .sx { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Other */
.gist .gist-syntax .sr { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Regex */
.gist .gist-syntax .s1 { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Single */
.gist .gist-syntax .ss { color: #e6db74;font-style:normal;font-weight:normal; } /* Literal.String.Symbol */
.gist .gist-syntax .bp { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Builtin.Pseudo */
.gist .gist-syntax .vc { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Variable.Class */
.gist .gist-syntax .vg { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Variable.Global */
.gist .gist-syntax .vi { color: #f8f8f2;font-style:normal;font-weight:normal; } /* Name.Variable.Instance */
.gist .gist-syntax .il { color: #ae81ff;font-style:normal;font-weight:normal; } /* Literal.Number.Integer.Long */
