@import url(http://fonts.useso.com/css?family=Galdeano);
@import url(http://fonts.useso.com/css?family=Electrolize);
@import url(http://fonts.useso.com/css?family=Cuprum);
body{font-size:14px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.2em 0;}
ol,ul{list-style-position:inside;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:16px;line-height:24px;}
.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px;}
code{background-color:#F7F7F7;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{color:#000;font-size:85%;max-height:500px;margin-bottom:80px}.gist-file{font-size:.8em!important;max-height:500px}.file-data{max-height:480px}table.lines{width:100%}.gist div{line-height:1.2em;margin:0;padding:0}.gist .gist-file{border:1px solid #dedede;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;margin-bottom:1em}.gist .gist-file .gist-meta{overflow:hidden;font-size:85%;color:#666;background-color:#eaeaea;padding:.5em}.gist .gist-file .gist-meta a{color:#369}.gist .gist-file .gist-meta a:visited{color:#737}.gist .gist-file .gist-data{overflow:auto;word-wrap:normal;background-color:#f8f8ff;border-bottom:1px solid #ddd;font-size:100%}.gist .gist-file .gist-data pre{font-family:'Bitstream Vera Sans Mono',Courier,monospace;background:transparent!important;border:none!important;margin:0!important;padding:.25em .5em .5em!important}.gist .gist-file .gist-data .gist-highlight{background:transparent!important}.gist .gist-file .gist-data .gist-line-numbers{background-color:#ececec;color:#aaa;border-right:1px solid #ddd;text-align:right}.gist .gist-file .gist-data .gist-line-numbers span{clear:right;display:block}.gist-syntax{background:#fff}.gist-syntax .err{color:#a61717;background-color:#e3d2d2}.gist-syntax .cp{color:#999;font-weight:700}.gist-syntax .cs{color:#999;font-weight:700;font-style:italic}.gist-syntax .gd{color:#000;background-color:#fdd}.gist-syntax .gd .x{color:#000;background-color:#faa}.gist-syntax .ge{color:#000;font-style:italic}.gist-syntax .gi{color:#000;background-color:#dfd}.gist-syntax .gi .x{color:#000;background-color:#afa}.gist-syntax .go{color:#888}.gist-syntax .gs{font-weight:700}.gist-syntax .gu{color:#aaa}.gist-syntax .nb{color:#0086b3}.gist-syntax .ni{color:purple}.gist-syntax .nt{color:navy}.gist-syntax .w{color:#bbb}.gist-syntax .sr{color:#009926}.gist-syntax .ss{color:#990073}.gist-syntax .c,.gist-syntax .cm,.gist-syntax .c1{color:#998;font-style:italic}.gist-syntax .k,.gist-syntax .o,.gist-syntax .kc,.gist-syntax .kd,.gist-syntax .kp,.gist-syntax .kr,.gist-syntax .ow{color:#000;font-weight:700}.gist-syntax .gr,.gist-syntax .gt{color:#a00}.gist-syntax .gh,.gist-syntax .bp{color:#999}.gist-syntax .gp,.gist-syntax .nn{color:#555}.gist-syntax .kt,.gist-syntax .nc{color:#458;font-weight:700}.gist-syntax .m,.gist-syntax .mf,.gist-syntax .mh,.gist-syntax .mi,.gist-syntax .mo,.gist-syntax .il{color:#099}.gist-syntax .s,.gist-syntax .sb,.gist-syntax .sc,.gist-syntax .sd,.gist-syntax .s2,.gist-syntax .se,.gist-syntax .sh,.gist-syntax .si,.gist-syntax .sx,.gist-syntax .s1{color:#d14}.gist-syntax .na,.gist-syntax .no,.gist-syntax .nv,.gist-syntax .vc,.gist-syntax .vg,.gist-syntax .vi{color:teal}.gist-syntax .ne,.gist-syntax .nf{color:#900;font-weight:700}
@media print {
  *{font-weight:normal;}
  h1,h2,h3{font-weight:400;}
  a{color:black;border-bottom:lightgray dotted 1px;}
}
