<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    {% if page.comments %}
      {% include JB/comments %}
    {% endif %}
  </div>
  <div class="span4 sidebar">

    <div class="widget copyright-sec">
      <h3 class="widget-title">Copyright</h3>
      <div class="widget-content">
        <p>
          <center>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/" tip="">
                  <img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/cn/88x31.png">
              </a>
          </center>
          <br />
          本网站所有博文除非注明，皆为原创，转载请注明出处，标注原文链接。采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/" tip="">知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议</a>进行许可。
        </p>
      </div>
    </div>
    
    <div class="widget disqus-comment-sec">
      <h3 class="widget-title">Recent Comments</h3>
<!-- 多说最新评论 start -->
	<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
<!-- 多说最新评论 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"bindog"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
    </div>

  </div>
</div>
