<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    {% if page.comments %}
      {% include JB/comments %}
    {% endif %}
  </div>
  <div class="span4 sidebar">

    <div class="widget copyright-sec">
      <h3 class="widget-title">Copyright</h3>
      <div class="widget-content">
        <p>
          <center>
              <a rel="infinite" href="#" tip="">
                  <img alt="无限" style="border-width:0" src="{{ site.img_url }}/infinite.png">
              </a>
          </center>
          <br />
          无限可能
        </p>
      </div>
    </div>
    
    <div class="widget disqus-comment-sec">
      <h3 class="widget-title">Recent Comments</h3>
      <div class="widget-content">
        <script type="text/javascript" src="http://{{ site.JB.comments.disqus.short_name }}.disqus.com/combination_widget.js?num_items=7&hide_mods=1&color=gray&default_tab=recent&excerpt_length=20"></script>
      </div>
    </div>

  </div>
</div>
